@model Dorothy.ViewModels.Guests.IndexViewModel

<div class="row">
    <div class="col-xs-12">
        <h2>Gäste</h2>

        <a asp-action="Create" class="btn btn-primary">Neuen Gast anlegen</a>

        <table class="table table-condensed">
            <tr>
                <th></th>
                <th>Fix / davon eingeladen</th>
                <th>Unsicher / davon eingeladen</th>
            </tr>

            @if (Model.WithoutGroupCount.HasAny)
            {
                <tr>
                    <td><span class="label label-success">< Ohne Gruppe ></span></td>
                    <td>@Model.WithoutGroupCount.AdultCount E @Model.WithoutGroupCount.ChildCount K / @Model.WithoutGroupCount.AdultCountInvited E @Model.WithoutGroupCount.ChildCountInvited K</td>
                    <td>@Model.WithoutGroupCount.OptionalAdultCount E @Model.WithoutGroupCount.OptionalChildCount K / @Model.WithoutGroupCount.OptionalAdultCountInvited E @Model.WithoutGroupCount.OptionalChildCountInvited K</td>
                </tr>
            }

            @foreach (var pair in Model.PerGroupCount)
            {
                <tr>
                    <td><span class="label label-success">@pair.Key</span></td>
                    <td>
                        @pair.Value.AdultCount E @pair.Value.ChildCount K / @pair.Value.AdultCountInvited E @pair.Value.ChildCountInvited K
                        @if (pair.Value.AdultCount > pair.Value.AdultCountInvited || pair.Value.ChildCount > pair.Value.ChildCountInvited)
                        {
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                        }
                    </td>
                    <td>@pair.Value.OptionalAdultCount E @pair.Value.OptionalChildCount K / @pair.Value.OptionalAdultCountInvited E @pair.Value.OptionalChildCountInvited K</td>
                </tr>
            }

            <tr>
                <th>Ingesamt</th>
                <th>@Model.OverallCount.AdultCount E @Model.OverallCount.ChildCount K / @Model.OverallCount.AdultCountInvited E @Model.OverallCount.ChildCountInvited K</th>
                <th>@Model.OverallCount.OptionalAdultCount E @Model.OverallCount.OptionalChildCount K / @Model.OverallCount.OptionalAdultCountInvited E @Model.OverallCount.OptionalChildCountInvited K</th>
            </tr>
        </table>

        <hr />

        <table class="table table-hover">
            <tr>
                <th></th>
                <th>Name(n)</th>
                <th>Gruppe</th>
                <th>Anzahl</th>
                <th>Notizen</th>
                <th colspan="2">Eingeladen?</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            @foreach (var guest in Model.Guests)
            {
                <tr class="@( guest.IsOptional ? "text-muted" : "")">
                    <th>
                        @if (guest.AdultCount <= 0)
                        {
                            <span class="glyphicon glyphicon-flash error" title="Keine Erwachsenen angegeben"></span>
                        }
                        @if (guest.HasMissingName)
                        {
                            <span class="glyphicon glyphicon-user error" title="Name fehlt"></span>
                        }
                        @if (guest.HasMissingEmail)
                        {
                            <span class="glyphicon glyphicon-envelope warning" title="E-Mail-Adresse fehlt"></span>
                        }
                    </th>
                    <td>
                        @guest.Names
                        <div class="text-muted salutation">
                            @guest.GetSalutation()
                        </div>
                    </td>
                    <td>
                        <span class="label label-success">@guest.Group</span>
                    </td>
                    <td>
                        @guest.AdultCount Erwachsene, @guest.ChildCount Kinder
                    </td>
                    <td>
                        @guest.Notes
                    </td>
                    <td>
                        @if (guest.HasEmail)
                {
                            <span class="glyphicon glyphicon-ok-circle" title="E-Mail bekommen"></span>
                        }
                    <td>
                        @if (guest.HasInvitation)
                        {
                            <span class="glyphicon glyphicon-ok" title="Einladung bekommen"></span>
                        }
                    </td>
                    <th>
                        <a href="@guest.GetSaveTheDateLink(Context.Request)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-time"></span></a>
                    </th>
                    <td>
                        <a href="@Url.Action("Edit", new {guest.Id})" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", new {guest.Id})" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>